.NavBar {background-color: rgb(188, 188, 218);
font-size: 26px;
font-weight: bold;
padding-top: 5px;
padding-bottom: 5px;
display: flex;
justify-content: center;
align-items: center;
}
.nav{list-style: none;
display: inline;
padding-right: 6vw;
}
.titulo{padding-right: 15vw;}
a{text-decoration: none;
    color: rgb(219, 205, 205);
    text-shadow: 0 0 2px black; }
.carrito{width: 4vw;}
h1 {font-size: 40px;
}
.boton{
    background-color: #74e9f1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-shadow: 0 0 2px black; 
}
.compra{
    border: none;
    color: white;
    padding: 9px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-shadow: 0 0 2px black; 
border-color: rgb(138, 238, 245);
border-width: 3px;  
border-style: solid;
}
li{list-style: none;
}
.prods{list-style: none;
    text-align: center;
    list-style: none;
    float: left;
    height: auto;
    margin: 20px;
    background-color:rgb(201, 201, 201);
    border-color: rgb(68, 70, 70);
border-width: 3px;  
border-style: solid;
}
ul{background-color: blue;


}